{% extends './base.html' %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
	{% block title %}<title>Grocery Mart - Ecommerce Category Bootstrap Responsive Website Template - About Us : W3Layouts</title>{% endblock %}
</head>

<body>
	{% block log %}
		<!-- login -->
		<div class="w3l_login">
			<a href="{% url 'dashboardpage' %}"><i
					class="fas fa-user"></i></a>
		</div>
	{% endblock %}
{% block content %}
	<!-- banner -->
	<div class="banner banner2">
		<div class="container">
			<h2>About Us</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
					<i>/</i></li>
				<li>About Us</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
	<!-- about -->
	<div class="about py-5">
		<div class="container py-lg-5 py-4">
			<div class="row w3ls_about_grids align-items-center">
				<div class="col-md-6 w3ls_about_grid_left pe-lg-5">
					<h3 class="mb-4 font-weight-bold">Best Offers & Best Deals In Our Mart!</h3>
					<p>With our expertise in home foods and deliivery,
						you cannot lack any item in our mart.
						<br/>
						Melisaa store has been around for <span style="color:crimson; height: 140%;">4</span> years now 
						and better yet has quality products to sell!! 
					</p>
					<p class="mt-3">Get <span style="color:crimson; height: 140%;">free delivery</span> 
						of any purchase above <span style="color: goldenrod; height: 150%;">$500</span>
						and lots more.
						<br/>
						Here at Melisaa store we got you covered.
					</p>
					<a href="{% url 'homepage' %}#view_our_products" class="btn btn-style mt-4">View Our Products</a>
				</div>
				<div class="col-md-6 w3ls_about_grid_right">
					<img loading="lazy" importance="low" src="{% static '/images/about.jpg' %}" alt=" " class="img-fluid radius-image" />
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
	<!-- team section -->
	<section class="team w3l-team py-5">
		<div class="container py-lg-4 py-4">
			<h3>Meet Our Team</h3>
			<div class="row text-center mt-4 pt-lg-2">
				<div class="col-lg-3 col-sm-6">
					<div class="team-block-single">
						<div class="team-grids">
							<a href="#team">
								<img loading="lazy" importance="low" src="{% static '/images/team4.jpg' %}" class="img-fluid" alt="">
								<div class="team-info">
									<div class="social-icons-section">
										<a class="fac" href="#facebook">
											<span class="fab fa-facebook-f"></span>
										</a>
										<a class="twitter mx-2" href="#twitter">
											<span class="fab fa-twitter"></span>
										</a>
										<a class="google" href="#google-plus">
											<span class="fab fa-google-plus-g"></span>
										</a>
									</div>
								</div>
							</a>
						</div>
						<div class="team-bottom-block p-4">
							<h5 class="member mb-1"><a href="#team">Teri Dac</a></h5>
							<small>CEO and Chief Consultant</small>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-sm-0 mt-4">
					<div class="team-block-single">
						<div class="team-grids">
							<a href="#team">
								<img loading="lazy" importance="low" src="{% static '/images/team2.jpg' %}" class="img-fluid" alt="">
								<div class="team-info">
									<div class="social-icons-section">
										<a class="fac" href="#facebook">
											<span class="fab fa-facebook-f"></span>
										</a>
										<a class="twitter mx-2" href="#twitter">
											<span class="fab fa-twitter"></span>
										</a>
										<a class="google" href="#google-plus">
											<span class="fab fa-google-plus-g"></span>
										</a>
									</div>
								</div>
							</a>
						</div>
						<div class="team-bottom-block p-4">
							<h5 class="member mb-1 active"><a href="#team">Aida Joe</a></h5>
							<small>Manager and Associate Consultant</small>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
					<div class="team-block-single">
						<div class="team-grids">
							<a href="#team">
								<img loading="lazy" importance="low" src="{% static '/images/team3.jpg' %}" class="img-fluid" alt="">
								<div class="team-info">
									<div class="social-icons-section">
										<a class="fac" href="#facebook">
											<span class="fab fa-facebook-f"></span>
										</a>
										<a class="twitter mx-2" href="#twitter">
											<span class="fab fa-twitter"></span>
										</a>
										<a class="google" href="#google-plus">
											<span class="fab fa-google-plus-g"></span>
										</a>
									</div>
								</div>
							</a>
						</div>
						<div class="team-bottom-block p-4">
							<h5 class="member mb-1"><a href="#team">Olive Yew</a></h5>
							<small>Sales Manager</small>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 mt-lg-0 mt-4">
					<div class="team-block-single">
						<div class="team-grids">
							<a href="#team">
								<img loading="lazy" importance="low" src="{% static '/images/team1.jpg' %}" class="img-fluid" alt="">
								<div class="team-info">
									<div class="social-icons-section">
										<a class="fac" href="#facebook">
											<span class="fab fa-facebook-f"></span>
										</a>
										<a class="twitter mx-2" href="#twitter">
											<span class="fab fa-twitter"></span>
										</a>
										<a class="google" href="#google-plus">
											<span class="fab fa-google-plus-g"></span>
										</a>
									</div>
								</div>
							</a>
						</div>
						<div class="team-bottom-block p-4">
							<h5 class="member mb-1"><a href="#team">Anton Bne</a></h5>
							<small>Delivery Services</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //team setion -->

<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
	<!-- team-bottom -->
	<div class="team-bottom py-5">
		<div class="container py-lg-5 py-4">
			<h3>Are You Ready For Deals? Flat <span>30% Offer </span>on Fashion Wears</h3>
			<p>
				With our boutique, you can be assured your wears always stay trendy!!
				<br>
				With an all fashion filled cart, you get <span style="color:crimson; height: 140%;">30%</span> discount
			</p>
			<a href="{% url 'shop_page' 'fashion' %}">Shop Now</a>
		</div>
	</div>
	<!-- //team-bottom -->
{% endblock %}
</body>
</html>