{% extends './base.html' %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
	{% block title %}<title>Grocery Mart - Ecommerce Category Bootstrap Responsive Website Template - Faq's : W3Layouts</title>{% endblock %}
</head>

<body>
	{% block log %}
		<!-- login -->
		<div class="w3l_login">
			<a href="{% url 'dashboardpage' %}"><i
					class="fas fa-user"></i></a>
		</div>
	{% endblock %}
{% block content %}
	<!-- banner -->
	<div class="banner banner2">
		<div class="container">
			<h2>FAQ's</h2>
		</div>
	</div>
	<!-- //banner -->
	<!-- breadcrumbs -->
	<div class="breadcrumb_dress">
		<div class="container">
			<ul>
				<li><a href="{% url 'homepage' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
					<i>/</i></li>
				<li>FAQ's</li>
			</ul>
		</div>
	</div>
	<!-- //breadcrumbs -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
	<!-- faq -->
	<div class="faq py-5">
		<div class="container py-lg-4 py-3">
			<div class="w3l_faq_grids">
				{% for faq in faqs %}
				<div class="w3l_faq_grid">
					<h3 style="color: gray;">{{ faq.question }}</h3>
					<p style="color: gray;"><b>Ans. </b>{{ faq.answer }}</p>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- //faq -->
<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
{% endblock %}
</body>
</html>